{% extends "base.html" %}

{% block title %}
    {{ title|title }}
{% endblock %}


{% block header %}
    <header>
        <a href="{% url "person-create" %}">Create new person</a>
        <h1>
            {{ title|title }}
        </h1>
    </header>
{% endblock %}

{% block main %}
    <ul>
        {% for person in model %}
            <li>
                <a href="{% url "person-detail" id=person.id %}">{{ person.firstname }}</a>
                - 
                [<a href="{% url "person-update" id=person.id %}">Edit</a>]
                [<a href="{% url "person-delete" id=person.id %}">Delete</a>]
            </li>
        {% endfor %}
    </ul>
{% endblock %}